img{
  width:100px;
  height: 100px;
}



.total{
  display: flex;
  justify-content: center;
  align-items: start;

}



.items {
  display: flex;
}
.custom-num {
  display: flex;
}
.custom-num input{
  height:30px
}
.close
{
  cursor: pointer;
}
