<section class="mt-5">
<div class="containe-fluid ">
  <div class="title mb-5"><h1><strong>Shop All</strong></h1></div>
  <div class="row">
    <select name="" id="" >
      <option value="" selected>Sort by</option>
      <option value="">Price(low to high)</option>
      <option value="">Price(high to low)</option>
      <option value="">Name(A-Z)</option>
      <option value="">Name(Z-A)</option>
    </select>
  </div>
  <div class="row">
    <div class="filter">
      <h2>Filter by</h2>
      <hr>
      <div class="filterbycat">
      <div class="col-8">
        <div class="tit">Category</div>
        <div class="col-4 toggle" id="toggle" (click)="showToggle()">
          {{ isTogglevisible ? '-' : '+' }}
        </div>
        <ul class="" [hidden]="!isTogglevisible">
          <li class="option">All</li>
          <li class="option">Sale</li>
          <li class="option">Computers</li>
        </ul>
       </div>
      </div>
      <hr>
      <div class="filterbyPrice">
      <div class="col-8">
        <div class="tit">Price</div>
        <div class="col-4 toggle" id="toggle" (click)="showToggleP()">
          {{ isTogglePvisible ? '+' : '-' }}
        </div>
        <div class="range">
          <input type="range" min="0" max="85" value="0" id="range" />
          <div class="value" id="value"></div>
        </div>
        <div class="card">
          <h4>Price Range Slider</h4>

          <div class="price-content">
            <div>
              <label>Min</label>
              <p id="min-value">$50</p>
            </div>

            <div>
              <label>Max</label>
              <p id="max-value">$500</p>
            </div>
          </div>

            <div class="range-slider">
              <input type="range" class="min-price" value="100" min="10" max="500" step="10">
              <input type="range" class="max-price" value="250" min="10" max="500" step="10">
            </div>
        </div>

        <script>
        let minValue = document.getElementById("min-value");
          let maxValue = document.getElementById("max-value");

          function validateRange(minPrice, maxPrice) {
            if (minPrice > maxPrice) {

              // Swap to Values
              let tempValue = maxPrice;
              maxPrice = minPrice;
              minPrice = tempValue;
            }

            minValue.innerHTML = "$" + minPrice;
            maxValue.innerHTML = "$" + maxPrice;
          }

          const inputElements = document.querySelectorAll("input");

          inputElements.forEach((element) => {
            element.addEventListener("change", (e) => {
              let minPrice = parseInt(inputElements[0].value);
              let maxPrice = parseInt(inputElements[1].value);

              validateRange(minPrice, maxPrice);
            });
          });

          validateRange(inputElements[0].value, inputElements[1].value);</script>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
