<section class="mt-5">
<div class="container-fluid ">
  <div class="title mb-5"><h1><strong>Shop All</strong></h1></div>
  <div class="row mb-5">
    <select name="" id="" [(ngModel)]="selectedOption" (change)="filterProducts(selectedOption)">
      <option value="Sort by" selected >Sort by</option>
      <option value="Price(low to high)">Price(low to high)</option>
      <option value="Price(high to low)">Price(high to low)</option>
      <option value="Name(A-Z)">Name(A-Z)</option>
      <option value="Name(Z-A)">Name(Z-A)</option>
    </select>
  </div>
  <div class="row" dir="ltr">
  <div class="filter col-lg-3 col-md-4 col-sm-6">
      <h2>Filter by</h2>
      <hr>
      <div class="filterbycat">
      <div class="col-8">
        <div class="tit">Category</div>
        <div class="col-4 toggle" id="toggle" (click)="showToggle()">
          {{ isTogglevisible ? '-' : '+' }}
        </div>
        <ul class="" [hidden]="!isTogglevisible" >
           <li id="all"(click)="Addactive($event)" class="active">All</li>

          <li class="option" id="option" *ngFor="let item of Categories" (click)="filtercat($event)" [ngClass]="{'active': selectedItem === item}" (click)="selectItem(item)">{{item}}</li>
        </ul>
       </div>
      </div>
      <hr>
      <div class="filterbyPrice">
      <div class="col-8">
        <div class="tit">Price</div>
        <div class="col-4 toggle" id="toggle" (click)="showToggleP()">
          {{ isTogglePvisible ? '+' : '-' }}
        </div>
        <!-- <div class="range">
          <input type="range" min="0" max="85" value="0" id="range" />
          <div class="value" id="value"></div>
        </div> -->

        <div class="card"[hidden]="isTogglePvisible">


        </div>

    </div>
    <span class="clear-filter" *ngIf="selectedItem" (click)="clearFilter()">clear filter x</span>
    </div>
  </div>

    <div class="container col-lg-9 col-md-8 col-sm-6">
      <div class="row" *ngIf="!loading">
        <div class="col-lg-4 col-md-6 col-sm-12"  *ngFor="let card of Products" ><!-- *ngIf="card.id <=8 || showCards" -->
          <a [routerLink]="'/Details/' + card.id">
            <app-product [card]="card"></app-product>
          </a>
        </div>
        <!-- <button class="btn btn-primary mt-5 mb-5" type="submit" (click)="showCards=true" *ngIf="!showCards">Load more</button> -->

      </div>
    </div>



  </div>
</div>
       <div class="text-center w-100 mb-5 mt-5 pb-5" *ngIf="loading">
        <app-spinner></app-spinner>
       </div>
</section>
