<header class="row">
<div class="col-lg-3 col-md-3 col-sm-3">
  <h1><strong>TechShed</strong></h1>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 mt-2 search" >
  <input type="text" placeholder="Search..." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>

</div>


<div class="col-lg-3 col-md-3 col-sm-3">
  <pre>  </pre>
</div>

<div class="col-lg-3 col-md-3 col-sm-3">
  <ul class="header-icons">
    <li class="header-icon "><i class="fa-solid fa-circle-user"></i> Log In</li>
    <li class="header-icon fav"><i class="fa-regular fa-heart"></i> Favorites</li>
    <li class="header-icon cart">
      <i class="fa-solid fa-cart-shopping mt-1"></i>
      <div class="counter rounded-circle text-light ms-2 pb-1">0</div>
    </li>
  </ul>
</div>
</header>
