<section>
  <div class="container-fluid">

    <div class="col-lg-4 col-md-4 col-sm-12 product mt-5 ms-5 " >
      <div class="img rounded-1">
        <img src="{{prod.image}}" alt="" class="p-5" >
      </div>
      <p class="mt-5">
        I'm a product description. This is a great place to "sell" your product and grab buyers'
         attention. Describe your product clearly and concisely.
         Use unique keywords. Write your own description instead of using manufacturers' copy.
        </p>

    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 content mt-5 ms-5">

    <h2 class="mt-5">{{prod.title}}</h2>

    <h4 class="mt-4">${{prod.price}}</h4>

    <label class="mb-2 mt-4" >Quantity</label><br>
    <input type="number" placeholder="0"  min="1" max="10" class="mb-5"  (change)="selectQuantity($event)">

    <button class="btn cart rounded-5 mb-2" (click)="addToCart(prod,selectedQuantity)">Add to Cart</button>
    <button type="button" class="btn  buy rounded-5 " (click)="openModal()">Buy Now</button>


    </div>
  </div>
</section>
